<!DOCTYPE html>
<html>
<head>
<title>OpenAguaDSS</title>

<script src="{{ url_for('static', filename='js/jquery-3.1.0.min.js') }}"></script>

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" />

<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
<script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>

<link rel="stylesheet" href="{{ url_for('static', filename='leaflet/draw/leaflet.draw.css') }}" />
<script src="{{ url_for('static', filename='leaflet/draw/leaflet.draw.js') }}"></script>
<script src="{{ url_for('static', filename='leaflet/geometryutil/leaflet.geometryutil.js') }}"></script>
<script src="{{ url_for('static', filename='leaflet/snap/leaflet.snap.js') }}"></script>

<link rel="stylesheet" href="{{ url_for('static', filename='leaflet/fullscreen/leaflet.fullscreen.css') }}" />
<script src="{{ url_for('static', filename='leaflet/fullscreen/leaflet.fullscreen.min.js') }}"></script>

<link rel="stylesheet" href="{{ url_for('static', filename='leaflet/locate/L.Control.Locate.min.css') }}" />
<script src="{{ url_for('static', filename='leaflet/locate/L.Control.Locate.min.js') }}"></script>

<link rel="stylesheet" href="{{ url_for('static', filename='leaflet/boxzoom/leaflet-control-boxzoom.css') }}" />
<script src="{{ url_for('static', filename='leaflet/boxzoom/leaflet-control-boxzoom.js') }}"></script>

<script>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>

</head>
<body>

<!--basic project info-->
<p>Session ID: {{session_id}}</p>
<p>Project: {{project_name}}</p>
<p>Network: {{network_name}}</p>

<!--network editor-->
<div id="map-edit" style="width: 800px; height: 400px; border: thin solid black"></div>
<button type="button" id="save_edits">Save</button>
<button type="button" id="clear_edits">Clear edits</button>
<div id="save_status">Network loaded.</div>

<!--network updater-->
<script>
  var currentItems_geoJson = {{ features|tojson }};
</script>
<script src="{{ url_for('static', filename='js/network.js') }}"></script>

</body>
</html> 